.LadoEsquerdo{
    display: flex;
    flex-direction: column;
    max-width: 31vh;
    padding: 10px;
    position: fixed;
}

.logo{
    margin: 0px 0px 19px;
    padding: 25px 12px 16px;
    
}

.logo img{
   max-height: 40px;
   

}


.menu-principal {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}

.menu-principal span{
    font-size: 16px;
    font-weight: bold;
    margin-left: 4px; 
}

.menu-principal span .icone{
    font-size: 20PX;
    margin-left: 5px;
}
.icone {
    color: black;
    font-size: 30px;
    
}

.icone.svg {
    width: 30px;
}

.item{
    display: flex;
    align-items: center;
    gap: 16px;
}
