.Story {
    display: flex;
    flex-direction: column;
    margin: 8px;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 28px;
    
    
}

Story:hover{
    opacity: 0.6;

}

.Story .imgStory {
    width: 62px;
    border-radius: 20px;
}

.Story .imgStory img {
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(white, white) padding-box,
            linear-gradient(45deg, #ffea00 0%, #dd744e 25%, #f892a1 50%, #eb3fb7 75%, #e90ea3 100%) border-box;

    border: 3px solid transparent;
    
}
.Story .nomeStory {
    text-align: center;
    font-size: 11px;
}