.Stories {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 100%;
    height: 10%;
    margin: 20px 0;
    
    display: flex;
    width: 470px;
    height: 95px;

    margin-left: 395px;
}
